{% extends 'admin/admin.html' %}
{% block contents %}


          <div class="content-wrapper">


            <div class="container-xxl flex-grow-1 container-p-y">

              <div class="card">
                <h5 class="card-header">Users</h5>
                <div class="card-body">
                  <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Username</th>
                          <th>Email</th>
                          <th>Profile</th>
                          <th>ID</th>
                          <th>Actions</th>
                        </tr>
                      </thead>

                      <tbody>
                      {% for user in users %}
                        <tr>
                          <td>
                            <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ user.username }}</strong>
                          </td>
                          <td>{{ user.email }}</td>
                          <td>
                            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                              <li
                                data-bs-toggle="tooltip"
                                data-popup="tooltip-custom"
                                data-bs-placement="top"
                                class="avatar avatar-xs pull-up"
                                title="Christina Parker"
                              >
                                <img src="{{url_for('static', filename='img/'+ user.image_file)}}" alt="Avatar" class="rounded-circle" />
                              </li>
                            </ul>
                          </td>
                          <td><span class="badge bg-label-primary me-1">{{ user.id }}</span></td>
                          <td>
                            <div class="dropdown">
                              <button
                                type="button"
                                class="btn p-0 dropdown-toggle hide-arrow"
                                data-bs-toggle="dropdown"
                              >
                                <i class="bx bx-dots-vertical-rounded"></i>
                              </button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('delete_user',user_id=user.id) }}"
                                  ><i class="bx bx-trash me-1"></i> Delete</a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

           <br>

            </tbody>

              <div class="card">
                <h5 class="card-header">List Of People That Ordered food</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr class="text-nowrap">
                        <th>s/n</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>food name</th>
                        <th>food quantity</th>
                        <th>date</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for foods in food %}
                      <tr>
                        <th scope="row">{{ foods.id }}</th>
                        <td>{{ foods.author.username }}</td>
                        <td>{{ foods.address }}</td>
                        <td>{{ foods.phone }}</td>
                        <td>{{ foods.food_name }}</td>
                        <td>{{ foods.food_quantity }}</td>
                        <td>{{ foods.date_ordered.strftime('%Y-%m-%d') }}</td>
                        <td>
                            <div class="dropdown">
                              <button
                                type="button"
                                class="btn p-0 dropdown-toggle hide-arrow"
                                data-bs-toggle="dropdown"
                              >
                                <i class="bx bx-dots-vertical-rounded"></i>
                              </button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('delete_food',foods_id=foods.id) }}"
                                  ><i class="bx bx-trash me-1"></i> Delete</a
                                >
                              </div>
                            </div>
                          </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>

              <br>

              <div class="card">
                <h5 class="card-header">List Of People That Booked Table</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr class="text-nowrap">
                        <th>s/n</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>day</th>
                        <th>hour</th>
                        <th>number of person's</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for tables in table %}
                      <tr>
                        <th scope="row">{{ tables.id }}</th>
                        <td>{{ tables.author.username}}</td>
                        <td>{{ tables.phone }}</td>
                        <td>{{ tables.day }}</td>
                        <td>{{ tables.hour }}</td>
                        <td>{{ tables.person }}</td>
                        <td>
                            <div class="dropdown">
                              <button
                                type="button"
                                class="btn p-0 dropdown-toggle hide-arrow"
                                data-bs-toggle="dropdown"
                              >
                                <i class="bx bx-dots-vertical-rounded"></i>
                              </button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('delete_table',tables_id=tables.id) }}"
                                  ><i class="bx bx-trash me-1"></i> Delete</a
                                >
                              </div>
                            </div>
                          </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>

              <br>

              <div class="card">
                <h5 class="card-header">list of foods available</h5>
                <div class="card-body">
                  <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>name</th>
                          <th>price</th>
                          <th>Actions</th>
                        </tr>
                      </thead>

                      <tbody>
                      {% for post in menu %}
                        <tr>
                          <td><span class="badge bg-label-primary me-1">{{ post.id }}</span></td>
                          <td>
                            <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ post.name }}</strong>
                          </td>
                          <td>{{ post.price }}</td>
                          <td>
                            <div class="dropdown">
                              <button
                                type="button"
                                class="btn p-0 dropdown-toggle hide-arrow"
                                data-bs-toggle="dropdown"
                              >
                                <i class="bx bx-dots-vertical-rounded"></i>
                              </button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('delete_menu',menu_id=post.id) }}"
                                  ><i class="bx bx-trash me-1"></i> Delete</a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <br>
              <div class="card">
                <h5 class="card-header">WEEKLY FEATURED FOOD</h5>
                <div class="card-body">
                  <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>subtitle</th>
                          <th>price</th>
                          <th>title</th>
                          <th>content</th>
                          <th>Actions</th>
                        </tr>
                      </thead>

                      <tbody>
                      {% for post in weekly %}
                        <tr>
                          <td><span class="badge bg-label-primary me-1">{{ post.id }}</span></td>
                          <td>
                            <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ post.subtitle }}</strong>
                          </td>
                          <td>{{ post.price }}</td>
                          <td>{{ post.title }}</td>
                          <td>{{ post.content }}</td>
                          <td>
                            <div class="dropdown">
                              <button
                                type="button"
                                class="btn p-0 dropdown-toggle hide-arrow"
                                data-bs-toggle="dropdown"
                              >
                                <i class="bx bx-dots-vertical-rounded"></i>
                              </button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('delete_weekly',weekly_id=post.id) }}"
                                  ><i class="bx bx-trash me-1"></i> Delete</a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="content-backdrop fade"></div>
          </div>


{% endblock contents %}