<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="static/assets/images/favicon.png">
    <title>Sir Trendy E-commerce</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../../static/css/demo.css">

</head>

<body class="">

 <section class="bannerr">
        <div class="container">
            <div>
                <h1>page not found</h1>
                <p><a href="{{ url_for('index') }}">please go back to the home page </a></p>
                <div class="">
                    <img class="media-object" src="../../static/img/404.png"
                         alt="404" width="500" height="400"/>
                </div>

            </div>

        </div>

    </section>
</body>

</html>
