{% extends 'layout.html' %}
{% block content %}


    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Our Blog</h1>
                    <p>lorem impusm Quisque nec nibh id lacus fringilla eleifend sed sit amet sem. Donec lectus odio, mollis a nisl non. <strong>nisl non, tempor interdum nisl</strong>fringilla eleifend .</p>
                </div>
            </div>
        </div>
    </section>


    <section class="blog-page">
        <div class="container">
            <div class="row">
                {% for post in blog %}
                <div class="col-md-8 col-md-offset-2">
                    <div class="blog-item">
                        <img src="{{url_for('static', filename='img/' + post.image)}}" alt="">
                        <div class="date">{{ post.date_posted.strftime('%Y-%m-%d')}}</div>
                        <div class="down-content">
                            <h4>{{ post.title }}</h4>
                            <span>{{ post.author.username }}/ Admin</span>
                            <p>{{ post.content }}</p>
                            <div class="text-button">
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
<!--                <div class="col-md-8 col-md-offset-2">-->
<!--                    <div class="blog-item">-->
<!--                        <img src="static/img/blog_item_02.jpg" alt="">-->
<!--                        <div class="date">21 Oct 2020</div>-->
<!--                        <div class="down-content">-->
<!--                            <h4>Class aptent taciti sociosqu</h4>-->
<!--                            <span>Branding / Admin</span>-->
<!--                            <p>Praesent id pellentesque est. Etiam vestibulum eros quis vulputate convallis. Praesent quam diam, placerat a ipsum sed, facilisis dignissim lorem. Vivamus a elit vitae mauris fringilla scelerisque sit amet eget mauris. Suspendisse vulputate congue eleifend.</p>-->
<!--                            <div class="text-button">-->
<!--                                <a href="#">Continue Reading</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-8 col-md-offset-2">-->
<!--                    <div class="blog-item">-->
<!--                        <img src="static/img/blog_item_03.jpg" alt="">-->
<!--                        <div class="date">11 Oct 2020</div>-->
<!--                        <div class="down-content">-->
<!--                            <h4>Cras congue nisi non varius tincidunt</h4>-->
<!--                            <span>Desserts / Chef</span>-->
<!--                            <p>Mauris mollis urna sit amet eros pretium, a tincidunt tellus eleifend. Sed dictum sit amet sapien ut scelerisque. Duis vulputate elit vehicula nisl maximus eleifend. Suspendisse potenti. Aenean ut dui fermentum, pharetra quam vitae, placerat dolor. Curabitur at dolor sed felis lacinia ultricies sit amet vel sem.</p>-->
<!--                            <div class="text-button">-->
<!--                                <a href="#">Continue Reading</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-8 col-md-offset-2">-->
<!--                    <div class="blog-item">-->
<!--                        <img src="static/img/blog_item_04.jpg" alt="">-->
<!--                        <div class="date">03 Oct 2020</div>-->
<!--                        <div class="down-content">-->
<!--                            <h4>Vivamus euismod lorem</h4>-->
<!--                            <span>Food / Chef</span>-->
<!--                            <p>Pellentesque nec orci in erat venenatis viverra. Vivamus in lorem et leo feugiat ullamcorper. Donec volutpat fermentum erat non aliquet. Cras fermentum, risus a blandit sodales, erat turpis eleifend lacus, venenatis mollis leo lorem vel eros. Quisque et sem tempus, feugiat urna iaculis, tempor metus.</p>-->
<!--                            <div class="text-button">-->
<!--                                <a href="#">Continue Reading</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-8 col-md-offset-2">-->
<!--                    <ul class="page-number">-->
<!--                        <li><a href="#">1</a></li>-->
<!--                        <li class="active"><a href="#">2</a></li>-->
<!--                        <li><a href="#">3</a></li>-->
<!--                        <li><a href="#">4</a></li>-->
<!--                        <li><a href="#">&gt;&gt;</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
            </div>
        </div>
    </section>


    <section class="sign-up">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Signup for our newsletters</h2>
                    </div>
                </div>
            </div>
            <form id="contact" action="" method="get">
                <div class="row">
                    <div class="col-md-4 col-md-offset-3">
                        <fieldset>
                            <input name="email" type="text" class="form-control" id="email" placeholder="Enter your email here..." required="">
                        </fieldset>
                    </div>
                    <div class="col-md-2">
                        <fieldset>
                            <button type="submit" id="form-submit" class="btn">Send Message</button>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}