{% extends 'layout.html' %}
{% block content %}


    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Contact Us</h1>
                    <p>Whatever drinking vinegar hella fingerstache shoreditch kickstarter kitsch. La croix hella iceland flexitarian letterpress.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        {% if success %}
        <div class="alert alert-success" role="alert">
            Your message has been sent successfully
        </div>
        {% endif %}
    </div>


    <section class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 ">

<section id="contact">



                    <h2>Say hello..</h2>
                    <p> For other information and bookings please send us a message, as we will be waiting.  you can also send us a message . <br> For Sponsorship you can also contact us here.</p>
<form method="POST" action="" style="margin: 20px;width: 75%; margin: auto">
       {{ form.hidden_tag() }}
        <fieldset class="form-group m-3">
            <legend class="border-bottom mb-5 text-info"> Send Us A Message</legend>
            <div class="form-group">
                {{ form.name.label(class= "form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class= "form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                         {% for error in form.name.errors %}
                           <span class="alert-danger"> {{ error }} </span>
                         {% endfor%}
                    </div>
                {% else%}
                     {{ form.name(class= "form-control form-control-lg") }}
                {% endif%}
            </div>

            <div class="form-group">
                {{ form.email.label(class= "form-control-label") }}
               {% if form.email.errors %}
                   {{ form.email(class= "form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                         {% for error in form.email.errors%}
                           <span class="alert-danger"> {{ error }} </span>
                         {% endfor%}
                    </div>
                {% else %}
                     {{ form.email(class= "form-control form-control-lg") }}
                {% endif%}
            </div>

            <div class="form-group">
                {{ form.subject.label(class= "form-control-label") }}
                {% if form.subject.errors %}
                   {{ form.subject(class= "form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                         {% for error in form.subject.errors %}
                           <span class="alert-danger"> {{ error }} </span>
                         {% endfor%}
                    </div>
                {% else%}
                     {{ form.subject(class= "form-control form-control-lg") }}
                {% endif%}
            </div>

            <div class="form-group">
                {{ form.message.label(class= "form-control-label") }}
                {% if form.message.errors %}
                    {{ form.message(class= "form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                         {% for error in form.message.errors%}
                            <span class="alert-danger"> {{ error }} </span>
                         {% endfor%}
                    </div>
                {% else%}
                     {{ form.message(class= "form-control form-control-lg") }}
                {% endif%}
            </div>
        </fieldset>
        <div class="form-group">
        {{ form.submit( class="col-md-3 col-sm-6 btn btn-success") }}
        </div>
    </form>



</section>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>



{% endblock content %}